body{
  margin: 0;
}
#container{
  width: 100%;
}
.personal{
  width: 100%;
  img{
    object-fit: cover;
    height: 200px;
    width: 200px;
  }
}
.project-container{
  width: 100%;
  background-color: whitesmoke;
  img{
    object-fit: cover;
    height: 200px;
    width: 200px;
  }
}
.resume-figure{
  img{
    object-fit: contain;
    height: 800px;
    width: 100%;
  }
}
.proj-page{
  img{
    object-fit: cover;
    height: 200px;
    width: 200px;
  }
}
